In [1]:
""" This is the specific jupyter notebook for the analysis of Museums with a Free Entry and with a Ticket cost entry (if any exists)"""

#CHECKING FOR FREE ENTRY MUSEUMS

import re
import pandas as pd

df_free_entry=pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Entities_Free_Entry.csv')
df_museums_complete=pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\Dati_Musei\Museums_complete.csv')

#Script for extracting IDs from Dataframe of Entites with Free Entry

def extract_id(entity_id):
    match = re.search(r'/(\d+)_', entity_id)
    if match:
        return match.group(1)  
    return None  

numeric_ids = df_free_entry['Entity_ID'].apply(extract_id).tolist()

#Script for checking if any Museum Ids in Museums Dataframe match with Ids in numeric_ids list made from free enty entities Dataframe
def check_id_in_museum_id(museum_id):
    for numeric_id in numeric_ids:
        if numeric_id in museum_id:
            return 'Free Entry'
    return None
#Dataframes of Museums with free entry cost and their number for each region and city each region and city with a total count
df_museums_complete['Ticket_Cost'] = df_museums_complete['Museum_ID'].apply(check_id_in_museum_id)
df_museum_free_entry_cost = df_museums_complete[df_museums_complete['Ticket_Cost'] == 'Free Entry'].reset_index(drop=True)

df_museum_free_entry_region_counts = df_museum_free_entry_cost.groupby(['Museum_Region', 'Ticket_Cost']).size().reset_index(name='Count')
total_count = df_museum_free_entry_region_counts['Count'].sum()
total_row = pd.DataFrame({'Museum_Region': ['TOTAL'], 'Count': [total_count]})
df_museum_free_entry_region_counts = pd.concat([df_museum_free_entry_region_counts, total_row], ignore_index=True).fillna('')

df_museum_free_entry_city_counts = df_museum_free_entry_cost.groupby(['Museum_City', 'Ticket_Cost']).size().reset_index(name='Count')
total_count = df_museum_free_entry_city_counts['Count'].sum()
total_row = pd.DataFrame({'Museum_City': ['TOTAL'], 'Count': [total_count]})
df_museum_free_entry_city_counts = pd.concat([df_museum_free_entry_city_counts, total_row], ignore_index=True).fillna('')

#Displaying dataframes for Museum free entry cost entities, their city and region count and a total count
display(df_museum_free_entry_cost)
display(df_museum_free_entry_region_counts)
display(df_museum_free_entry_city_counts)

# #CSV of all above Dataframes
csv_file_museums_free_entry_cost = "Museums_Free_Entry_cost.csv"
df_museum_free_entry_cost.to_csv(csv_file_museums_free_entry_cost, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_museums_free_entry_cost}")

csv_file_museums_free_entry_region_count = "Museums_Free_Entry_region_count.csv"
df_museum_free_entry_region_counts.to_csv(csv_file_museums_free_entry_region_count, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_museums_free_entry_region_count}")

csv_file_museums_free_entry_city_count = "Museums_Free_Entry_city_count.csv"
df_museum_free_entry_city_counts.to_csv(csv_file_museums_free_entry_city_count, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_museums_free_entry_city_count}")

,Museum_ID,Museum_Name,Museum_City,Museum_Region,Museum_Latitude,Museum_Longitude,Ticket_Cost
0,http://dati.beniculturali.it/mibact/luoghi/res...,Museo armi antiche Fosco Baboni,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,45.149033,10.645640,Free Entry
1,http://dati.beniculturali.it/mibact/luoghi/res...,Piccolo museo delle anime del Purgatorio,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,41.904130,12.462420,Free Entry
2,http://dati.beniculturali.it/mibact/luoghi/res...,Museo del Convento di Santa Chiara,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,43.139618,13.073348,Free Entry
3,http://dati.beniculturali.it/mibact/luoghi/res...,Castello normanno - Museo civico,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,37.555782,15.148047,Free Entry
4,http://dati.beniculturali.it/mibact/luoghi/res...,Castello di Spezzano e Museo della Ceramica,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.521560,10.846728,Free Entry
...,...,...,...,...,...,...,...
1365,http://dati.beniculturali.it/mibact/luoghi/res...,Museo del bracconaggio e delle trappole,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.630074,9.731209,Free Entry
1366,http://dati.beniculturali.it/mibact/luoghi/res...,"Casa museo ""Joe Petrosino"" Padula-New York-Pal...",http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,40.337982,15.655945,Free Entry
1367,http://dati.beniculturali.it/mibact/luoghi/res...,"Mostra archeologica permanente ""Divi & Dei""",http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,43.436150,13.663471,Free Entry
1368,http://dati.beniculturali.it/mibact/luoghi/res...,Museo della civiltà contadina di Sefro,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,43.148200,12.948257,Free Entry
1369,http://dati.beniculturali.it/mibact/luoghi/res...,"Museo parrocchiale d’arte sacra ""Don G. Polo""",http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.359260,11.628485,Free Entry

                                        Museum_Region Ticket_Cost  Count
0   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry     27
1   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      7
2   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry     26
3   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry    161
4   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry    347
5   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry    104
6   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry    177
7   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry    107
8   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry    157
9   http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry     54
10  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      5
11  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry     45
12  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry     31
13  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry     20
14  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry     27
15  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry     43
16  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      6
17  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      7
18  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      9
19  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry     10
20                                              TOTAL               1370

                                           Museum_City Ticket_Cost  Count
0    http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      3
1    http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
2    http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
3    http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      2
4    http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
..                                                 ...         ...    ...
833  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
834  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
835  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
836  http://dati.beniculturali.it/mibact/luoghi/res...  Free Entry      1
837                                              TOTAL               1370

[838 rows x 3 columns]

Results have been written to Museums_Free_Entry_cost.csv
Results have been written to Museums_Free_Entry_region_count.csv
Results have been written to Museums_Free_Entry_city_count.csv

In [2]:
#CHECKING FOR MUSEUMS WITH A TICKET COST

#Script for extracting IDs from Dataframe of Entites with a ticket cost entry

df_ticket_cost= pd.read_csv(r'C:\Users\HWRUser\Documents\GitHub\bookdataviz\data\TicketCost_FreeEntry_Museums_Archives_Libraries_Data\Entities_Ticket_Cost.csv')

def extract_id(entity_id):
    match = re.search(r'/(\d+)_', entity_id)
    if match:
        numeric_id = match.group(1)  
        price = df_ticket_cost.loc[df_ticket_cost['Entity_ID'] == entity_id, 'Entry_Price'].iloc[0]  
        return (numeric_id, price)  
    return None  
numeric_ids_with_prices= df_ticket_cost['Entity_ID'].apply(extract_id).tolist()


#Script for checking if any Museum Ids in Museums Dataframe match with Ids in numeric_ids_with_prices list made from ticket cost entities Dataframe
def check_id_in_museum_id(museum_id):
    for numeric_id, price in numeric_ids_with_prices:
        if numeric_id in museum_id:
            return price  
    return None  

#Dataframes of Museums with ticket entry cost and their number for each region and city and a total count
df_museums_complete['Ticket_Cost'] = df_museums_complete['Museum_ID'].apply(check_id_in_museum_id)
df_museum_ticket_cost = df_museums_complete[df_museums_complete['Ticket_Cost'].notnull()].reset_index(drop=True)
df_museum_ticket_cost['Ticket_Cost'] = df_museum_ticket_cost['Ticket_Cost'].str.replace(',', '.').astype(float).map('{:.2f}'.format)

df_museum_ticket_cost_region_counts = df_museum_ticket_cost.groupby(['Museum_Region', 'Ticket_Cost']).size().reset_index(name='Count')
total_count = df_museum_ticket_cost_region_counts['Count'].sum()
total_row = pd.DataFrame({'Museum_Region': ['TOTAL'], 'Count': [total_count]})
df_museum_ticket_cost_region_counts = pd.concat([df_museum_ticket_cost_region_counts, total_row], ignore_index=True).fillna('')


df_museum_ticket_cost_city_counts = df_museum_ticket_cost.groupby(['Museum_City', 'Ticket_Cost']).size().reset_index(name='Count')
total_count = df_museum_ticket_cost_city_counts['Count'].sum()
total_row = pd.DataFrame({'Museum_City': ['TOTAL'], 'Count': [total_count]})
df_museum_ticket_cost_city_counts = pd.concat([df_museum_ticket_cost_city_counts, total_row], ignore_index=True).fillna('')

#Displaying dataframes for Museum ticket cost entities, their city and region count and a total count
display(df_museum_ticket_cost)
display(df_museum_ticket_cost_region_counts)
display(df_museum_ticket_cost_city_counts)

#CSV of all above Dataframes
csv_file_museums__ticket_cost_price = "Museums_Ticket_Cost_Price.csv"
df_museum_ticket_cost.to_csv(csv_file_museums__ticket_cost_price, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_museums__ticket_cost_price}")

csv_file_museums__ticket_cost_region_count = "Museums_Ticket_Cost_Region_count.csv"
df_museum_ticket_cost_region_counts.to_csv(csv_file_museums__ticket_cost_region_count, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_museums__ticket_cost_region_count}")

csv_file_museums__ticket_cost_city_count = "Museums_Ticket_Cost_City_count.csv"
df_museum_ticket_cost_city_counts.to_csv(csv_file_museums__ticket_cost_city_count, index=False, encoding='utf-8')
print(f"Results have been written to {csv_file_museums__ticket_cost_city_count}")

,Museum_ID,Museum_Name,Museum_City,Museum_Region,Museum_Latitude,Museum_Longitude,Ticket_Cost
0,http://dati.beniculturali.it/mibact/luoghi/res...,Parco Poesia Pascoli - Museo Casa Pascoli,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.105186,12.415602,3.00
1,http://dati.beniculturali.it/mibact/luoghi/res...,Museo di arte contemporanea Giuseppe e Titina ...,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.868443,9.266259,2.00
2,http://dati.beniculturali.it/mibact/luoghi/res...,Museo delle navi romane di Nemi,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,41.721714,12.701998,5.00
3,http://dati.beniculturali.it/mibact/luoghi/res...,Museo parrocchiale di Castroreale,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,38.100582,15.212629,2.00
4,http://dati.beniculturali.it/mibact/luoghi/res...,Parco archeologico e Museo all'aperto della Te...,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.570480,10.905629,7.00
...,...,...,...,...,...,...,...
1181,http://dati.beniculturali.it/mibact/luoghi/res...,Museo del merletto di Rapallo,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.352203,9.230796,3.00
1182,http://dati.beniculturali.it/mibact/luoghi/res...,MAXXI - Museo nazionale delle arti del XXI secolo,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,41.928467,12.468314,12.00
1183,http://dati.beniculturali.it/mibact/luoghi/res...,Musei civici di Sarnano,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,43.035730,13.300746,5.00
1184,http://dati.beniculturali.it/mibact/luoghi/res...,Villa Croce,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,44.398160,8.936704,5.00
1185,http://dati.beniculturali.it/mibact/luoghi/res...,Museo civico archeologico di Padria,http://dati.beniculturali.it/mibact/luoghi/res...,http://dati.beniculturali.it/mibact/luoghi/res...,40.397520,8.630944,1.00

                                         Museum_Region Ticket_Cost  Count
0    http://dati.beniculturali.it/mibact/luoghi/res...        1.00      6
1    http://dati.beniculturali.it/mibact/luoghi/res...        1.50      1
2    http://dati.beniculturali.it/mibact/luoghi/res...        1.70      1
3    http://dati.beniculturali.it/mibact/luoghi/res...        2.00      6
4    http://dati.beniculturali.it/mibact/luoghi/res...        2.50      1
..                                                 ...         ...    ...
278  http://dati.beniculturali.it/mibact/luoghi/res...        6.00      6
279  http://dati.beniculturali.it/mibact/luoghi/res...        7.00      3
280  http://dati.beniculturali.it/mibact/luoghi/res...        8.00      2
281  http://dati.beniculturali.it/mibact/luoghi/res...        9.00      1
282                                              TOTAL               1186

[283 rows x 3 columns]

                                           Museum_City Ticket_Cost  Count
0    http://dati.beniculturali.it/mibact/luoghi/res...        3.00      1
1    http://dati.beniculturali.it/mibact/luoghi/res...        5.00      1
2    http://dati.beniculturali.it/mibact/luoghi/res...        1.50      1
3    http://dati.beniculturali.it/mibact/luoghi/res...        4.00      2
4    http://dati.beniculturali.it/mibact/luoghi/res...        4.00      1
..                                                 ...         ...    ...
962  http://dati.beniculturali.it/mibact/luoghi/res...        2.00      1
963  http://dati.beniculturali.it/mibact/luoghi/res...        5.00      1
964  http://dati.beniculturali.it/mibact/luoghi/res...        5.00      1
965  http://dati.beniculturali.it/mibact/luoghi/res...        3.00      1
966                                              TOTAL               1186

[967 rows x 3 columns]

Results have been written to Museums_Ticket_Cost_Price.csv
Results have been written to Museums_Ticket_Cost_Region_count.csv
Results have been written to Museums_Ticket_Cost_City_count.csv